
/*
h1 {
  font-family: Verdana, Geneva, sans-serif;
}*/

.headborder {
  border: 1px solid #ffa71a;
}

.inline {
  display: flex;
  justify-content: space-around;
  list-style: none;
}



.month-list {

}


.disabled {
  color: grey;
}

a.disabled, a .disabled {
  color: purple;
}

.active {
  color: yellow;
}

.promo {

}

.grandparent {

}

.parent {

}

.padded {

}

.disclaimer {

}

.footer-link {

}

.colorRed {
  color: red;
}

.colorBlue {
  color: blue;
}

.redBack {
  background-color: red;
}

.blueBack {
  background-color: blue;
}
